<div class="animated-background">
    <!-- Initial pass -->
    <div class="initial-pass">
        <span class="animated-icon icon1 animate-once"><img src="static/icons/Asset 1.svg"></span>
        <span class="animated-icon icon2 animate-once"><img src="static/icons/Asset 2.svg"></span>
        <span class="animated-icon icon3 animate-once"><img src="static/icons/Asset 3.svg"></span>
        <span class="animated-icon icon4 animate-once"><img src="static/icons/Asset 4.svg"></span>
        <span class="animated-icon icon5 animate-once"><img src="static/icons/Asset 5.svg"></span>
        <span class="animated-icon icon6 animate-once"><img src="static/icons/Asset 6.svg"></span>
        <span class="animated-icon icon7 animate-once"><img src="static/icons/Asset 7.svg"></span>
        <span class="animated-icon icon8 animate-once"><img src="static/icons/Asset 8.svg"></span>
        <span class="animated-icon icon9 animate-once"><img src="static/icons/Asset 9.svg"></span>
        <span class="animated-icon icon10 animate-once"><img src="static/icons/Asset 10.svg"></span>
        <span class="animated-icon icon11 animate-once"><img src="static/icons/Asset 11.svg"></span>
        <span class="animated-icon icon12 animate-once"><img src="static/icons/Asset 12.svg"></span>
        <span class="animated-icon icon13 animate-once"><img src="static/icons/Asset 13.svg"></span>
        <span class="animated-icon icon14 animate-once"><img src="static/icons/Asset 14.svg"></span>
        <span class="animated-icon icon15 animate-once"><img src="static/icons/Asset 15.svg"></span>
        <span class="animated-icon icon16 animate-once"><img src="static/icons/Asset 16.svg"></span>
        <span class="animated-icon icon17 animate-once"><img src="static/icons/Asset 17.svg"></span>
    </div>
    <!-- First pass -->
    <span class="animated-icon icon1 animated-icon-rotate-left"><img src="static/icons/Asset 1.svg"></span>
    <span class="animated-icon icon2"><img src="static/icons/Asset 2.svg"></span>
    <span class="animated-icon icon3"><img src="static/icons/Asset 3.svg"></span>
    <span class="animated-icon icon4"><img src="static/icons/Asset 4.svg"></span>
    <span class="animated-icon animated-icon-rotate-right icon5"><img src="static/icons/Asset 5.svg"></span>
    <span class="animated-icon icon6 animated-icon-rotate-left"><img src="static/icons/Asset 6.svg"></span>
    <span class="animated-icon icon7"><img src="static/icons/Asset 7.svg"></span>
    <span class="animated-icon icon8"><img src="static/icons/Asset 8.svg"></span>
    <span class="animated-icon icon9 animated-icon-rotate-left"><img src="static/icons/Asset 9.svg"></span>
    <span class="animated-icon icon10"><img src="static/icons/Asset 10.svg"></span>
    <span class="animated-icon icon11"><img src="static/icons/Asset 11.svg"></span>
    <span class="animated-icon icon12"><img src="static/icons/Asset 12.svg"></span>
    <span class="animated-icon icon13"><img src="static/icons/Asset 13.svg"></span>
    <span class="animated-icon animated-icon-rotate-right icon14"><img src="static/icons/Asset 14.svg"></span>
    <span class="animated-icon icon15"><img src="static/icons/Asset 15.svg"></span>
    <span class="animated-icon icon16"><img src="static/icons/Asset 16.svg"></span>
    <span class="animated-icon icon17"><img src="static/icons/Asset 17.svg"></span>
    <!-- Second Pass -->
    <span class="animated-icon icon1 second-pass"><img src="static/icons/Asset 1.svg"></span>
    <span class="animated-icon icon2 second-pass"><img src="static/icons/Asset 2.svg"></span>
    <span class="animated-icon icon3 second-pass"><img src="static/icons/Asset 3.svg"></span>
    <span class="animated-icon icon4 second-pass"><img src="static/icons/Asset 4.svg"></span>
    <span class="animated-icon icon5 second-pass"><img src="static/icons/Asset 5.svg"></span>
    <span class="animated-icon icon6 second-pass"><img src="static/icons/Asset 6.svg"></span>
    <span class="animated-icon icon7 second-pass"><img src="static/icons/Asset 7.svg"></span>
    <span class="animated-icon icon8 second-pass"><img src="static/icons/Asset 8.svg"></span>
    <span class="animated-icon icon9 second-pass"><img src="static/icons/Asset 9.svg"></span>
    <span class="animated-icon icon10 second-pass"><img src="static/icons/Asset 10.svg"></span>
    <span class="animated-icon icon11 second-pass"><img src="static/icons/Asset 11.svg"></span>
    <span class="animated-icon icon12 second-pass"><img src="static/icons/Asset 12.svg"></span>
    <span class="animated-icon icon13 second-pass "><img src="static/icons/Asset 13.svg"></span>
    <span class="animated-icon icon14 second-pass"><img src="static/icons/Asset 14.svg"></span>
    <span class="animated-icon icon15 second-pass"><img src="static/icons/Asset 15.svg"></span>
    <span class="animated-icon icon16 second-pass"><img src="static/icons/Asset 16.svg"></span>
    <span class="animated-icon icon17 second-pass"><img src="static/icons/Asset 17.svg"></span>
</div>
